<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VLCController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D58ABBE91C3E39C000270C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D58ABC051C3E39C000270C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D58ABC101C3E39C000270C1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
